div.cadlider {
    background-color: rgb(238, 238, 238);
    max-width: 80%; /* Largura máxima de 80% do container pai */
    width: 100%;
    height: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center; /* Alinhamento vertical */
    border-radius: 10px;
    padding: 30px;
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.15);
    margin: 10px auto; /* Margens automáticas para centralizar horizontalmente */
}

#session {
    width: 100%; /* Certifique-se de que a div ocupa toda a largura */
    display: flex;
    align-items: center;
    justify-content: center;
}

div.container-fluid a#btn_sair {
    background-color: #dc3545;
    color: white;
    padding: 5px 15px;
    margin-left: 3px;
    border-radius: 4px;
    text-decoration: none;
    box-shadow: 4px 4px #000000 0.8;
    transition: all 0.3s;
}
div.container-fluid a#btn_sair:hover {
    background-color: #b02a37;
    transform: translateY(-2px);
}

.buscar_lider {
    background-color: rgb(238, 238, 238);
    max-width: 80%; /* Largura máxima de 600 pixels */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    padding: 30px;
    -webkit-box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.15);
    position: relative; /* Adicione position: relative; para permitir o posicionamento absoluto da imagem */
}
